.wrapper {
    width: 100%;
    text-align: center;
}

.main {
    display: flex;
    justify-content:center;
    width: 100%;
<<<<<<< Updated upstream
=======
    gap: 40px;
>>>>>>> Stashed changes
}