.header {
    background: var(--background);
}

.header__container {
    display: flex;
    width: var(--width-outer);
    margin: 0 auto;
}

.header__center {
    flex: 0 0 content;
}

.header__left {
    flex: 1 0 100px;
    display: flex;
    justify-content: flex-start;
}

.icon__right {
    flex: 1 0 100px;
    display: flex;
    justify-content: flex-end;
}

.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
