.section {
    flex: 0 0 600px;
    margin-top: 100px;
}

.scroll {
    overflow-y: auto;
    max-height: 464px;
    scrollbar-width: thin;
    scrollbar-color: #8585AD #2F2F37;
    padding: 0;
    list-style: none;
}

.empty__element {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    background: var(--background);
}

.empty__element_text {
    flex: 1;
}

.ingredient {
    background: var(--background);
}

